<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="head :: head_section"></head>
<body>
<div th:replace="content :: content_section_title"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Dodawanie nowego autora</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="proTeamScroll" tabindex="2"
                         style="height: auto; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                            <form th:action="@{/author_form_save}" method="post">
                                Imie
                                <div class="form-row">
                                    <div class="col-sm-10 col-md-8 form-group">
                                        <input type="text" name="name" required class="form-control">
                                    </div>
                                </div>
                                Nazwisko
                                <div class="form-row">
                                    <div class="col-sm-10 col-md-8 form-group">
                                        <input type="text" name="surname" required class="form-control">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-sm-10 col-md-10 form-group">
                                        <button type="submit" class="btn btn-success btn-sm form-control">
                                            <i aria-hidden="true">Zapisz</i>
                                        </button>
                                    </div>
                                </div>

                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<footer th:replace="footer :: footer_section"></footer>
</html>